<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">    <!-- static에서 주소 시작 -->

</head>
<body>
    <div th:replace="~{ nav.html::navbar }"></div>
    <div class="card" th:each="i : ${items}">
        <img src="https://placehold.co/300">
        <div>
            <h4 th:text="${i.title}">바지</h4>
            <a th:href="@{'/detail/'+${i.id}}">링크</a>
            <p th:text="${i.price}">7억</p>
            <a th:href="@{'/edit/'+${i.id}}">✏️</a>
            <span th:data-id="${i.id}" onclick="deleteItem(this)">🗑️</span>
        </div>
    </div>
<script type="text/javascript">
    function deleteItem(element){
        const id = element.getAttribute('data-id');
        if(confirm("정말 삭제하시겠습니까?")){
            fetch(`/item/${id}`,{method:'DELETE'})
                .then(res=>{
                    if(res.ok){
                        location.reload();
                    } else{
                        alert("삭제에 실패했습니다.");
                    }
                })
                .catch(err => console.error("네트워크 에러:", err));
        }
    }
</script>
</body>
</html>