<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">    <!-- static에서 주소 시작 -->

</head>
<body>
    <div th:replace="~{ nav.html::navbar }"></div>
<!-- 반복문 사용 x -->
<!--    <div class="card">-->
<!--        <img src="https://placehold.co/300">-->
<!--        <div>-->
<!--            <h4 th:text="${items.get(0).title}">바지</h4>-->
<!--            <p th:text="${items.get(0).price}">7억</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--        <img src="https://placehold.co/300" alt="">-->
<!--        <h4 th:text="${items.get(1).title}">셔츠</h4>-->
<!--        <p>8억</p>-->
<!--    </div>-->
<!-- 반복문 사용 -->
    <div class="card" th:each="i : ${items}">
        <img src="https://placehold.co/300">
        <div>
            <h4 th:text="${i.title}">바지</h4>
            <a th:href="@{'/detail/'+${i.id}}">링크</a>
            <p th:text="${i.price}">7억</p>
        </div>
    </div>
</body>
</html>