<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">    <!-- static에서 주소 시작 -->

</head>
<body>
    <div th:replace="~{ nav.html::navbar }"></div>
    <h4>마이페이지임</h4>

    <div sec:authentication="principal"></div>
    <div sec:authentication="principal.username"></div>
    <div sec:authentication="principal.name"></div>
    <div>유저 이름 : [[${#authentication.principal.name}]]</div>
    <div sec:authroize="hasAuthority('ROLE_USER')">ROLE_USER 권한 존재</div>
    <div sec:authentication="principal"></div>
</body>
</html>